.special {
  border-radius: 50% !important;
}
.comment {
  a {
    vertical-align: middle;
    color: #5cb85c;

    &:hover {
      color: #3d8b3d;
      text-decoration: underline !important;
    }
  }
  span {
    vertical-align: middle;
  }
  svg {
    cursor: pointer;
  }
}
